.motionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1rem;
}

.conatinerSize {
  width: calc(7em + 24vw);
  height: calc(15vh + 25em);
  border-radius: 12px;
  max-width: 412px;
}

.background {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}


.langContainer {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--lang-div-background-color);
  color: #FFFFFF;
  border-radius: 9999px;
  margin: 3px;
  font-weight: 500;
  border: 1px solid var(--box-backgroud);
}

.uniName {
  color: var(--education-name-heading);
  font-size: 20px;
  font-weight: 700;
}

.courseName {
  color: var(--education-name-subheading);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.backContent {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media (max-width: 768px) {
  
}