.container {
  position: relative;
  width: 100%;
  height: 90vh;
}

.simulationContainer {
  width: 100%;
  height: 90vh;
  position: relative;
  /* pointer-events: none; */
}

.centerDiv {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: var(--land-text-color);
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  z-index: 10;
  letter-spacing: 2px;
}

